@import url(Static/footer.css);
@import url(Static/nav.css);
@import url(library/Normalize/normalize.css);
@import url(library/Icons/style__icon.css);
@import url(body/home.css);
@import url(js/app.js);
@import url(js/particles.min.js);
:root{
}

*{
  margin: 0;
  padding:0;
}

html{
scroll-behavior:smooth;
}

body{
 background-color: #747a81;
}

/*Cambiando tipografias  */
h1,
h3,
h4,
p{
  font-family: quattrocento sans,sans-serif;
  color: #fff;
}
h2
{
  font-family: quattrocento sans,sans-serif;
  color: black;
}
main
{
}


/*Movile */
@media all and (min-width: 960px){
 
}