@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap");

@import url("carousel.css");

:root {
  --color-hack: #b9fe30;
  --color--white: #f8f9fa;
  --color-bluedark: #111927;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color--white);
  font-family: "Roboto", sans-serif;
  background: #f9f9f9;
}

html {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

nav {
  background: var(--color-bluedark);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.29);
  height: 100px;
  width: 100%;
  position: fixed;
}

a {
  text-decoration: none;
}

#ul-porfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 10px;
  width: 100%;
}

#ul-porfolio a {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}
#ul-porfolio img {
  margin: 20px;
}

.btn {
  background: #87ff00;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 1em;
  height: 45px;
  margin-top: 25px;
  padding: 10px;
  width: 120px;
  position: relative;
  cursor: pointer;
}

.btn-navbar-contact::after {
  bottom: 0;
  right: 0;
}

.btn-navbar-contact:hover::after {
  content: "Contact";
  background: var(--color--white);
  box-sizing: border-box;
  color: var(--color-hack);
  height: 100%;
  width: 100%;
  bottom: 5px;
  right: 5px;
  position: absolute;
  padding: 12px;
  border-radius: 2px;
  box-shadow: 1.5px 1.5px 0 var(--color-hack);
  border: 1px solid var(--color-hack);
}

.btn-navbar-about-us::after {
  bottom: 0;
  right: 0;
}

.btn-navbar-about-us:hover::after {
  content: "About Us";
  background: var(--color--white);
  box-sizing: border-box;
  color: var(--color-hack);
  height: 100%;
  width: 100%;
  bottom: 5px;
  right: 5px;
  position: absolute;
  padding: 12px;
  border-radius: 2px;
  box-shadow: 1.5px 1.5px 0 var(--color-hack);
  border: 1px solid var(--color-hack);
}

.btn-navbar-home::after {
  bottom: 0;
  right: 0;
}

.btn-navbar-home:hover::after {
  content: "Home";
  background: var(--color--white);
  box-sizing: border-box;
  color: var(--color-hack);
  height: 100%;
  width: 100%;
  bottom: 5px;
  right: 5px;
  position: absolute;
  padding: 12px;
  border-radius: 2px;
  box-shadow: 1.5px 1.5px 0 var(--color-hack);
  border: 1px solid var(--color-hack);
}

.li-logo {
  display: flex;
  height: 46px;
  margin-top: 25px;
  width: 46px;
}

#section-home {
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
}

#section-about-us {
  background-size: cover;
  background: url("../assets/images/banner/Wallpaper.png");
  display: flex;
  flex-direction: row;
  height: 800px;
  justify-content: center;
  margin-top: 210px;
  width: 100%;
}
#section-body {
  display: flex;
  height: auto;
  justify-content: center;
  width: auto;
}

.presentation {
  align-items: center;
  color: #4a4a4a;
  display: flex;
  font-size: 5em;
  text-align: center;
}

.skills-list {
  height: 95px;
  margin-left: 0.35em;
  overflow: hidden;
}

.skills-list b {
  animation: Text-up 10s 1s infinite;
  color: var(--color-hack);
  display: block;
}

.section-body-text {
  align-items: center;
  animation: scale-Y 1s ease-in 1;
  background: #fafafa;
  border-radius: 50px;
  box-shadow: 20px 20px 0px var(--color-hack), -20px -20px 0px #f9f9f9;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  padding: 20px;
  transition: box-shadow 1s;
  width: 100%;
}

.section-body-text:hover {
  align-items: center;
  animation: scale-Y 1s ease-in 1;
  background: #fafafa;
  border-radius: 50px;
  box-shadow: 20px 20px 0px black, -20px -20px 0px var(--color-hack);
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
}

#section-about-us-text {
  margin-top: 200px;
  width: 100%;
  height: 900px;
  padding: 50px;
  background: white;
}
.about-us-text {
  display: flex;
  margin-right: 60px;
  margin-left: 60px;
}

.about-us-text p {
  width: 50%;
  margin: 2%;
}
.about-us-title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 5%;
}

.about-us-title h1 {
  background: fuchsia;
}

@keyframes Text-up {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  45% {
    transform: translateY(-200%);
  }
  55% {
    transform: translateY(-312%);
  }
  65% {
    transform: translateY(-300%);
  }
  75% {
    transform: translateY(-412%);
  }
}

@keyframes scale-Y {
  0% {
    transform: scaleY(0.01);
  }
  100% {
    transform: scaleY(1);
  }
}

.box-person {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  text-align: center;
  width: auto;
}

.img-home {
  border-radius: 100%;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}

.box-person span {
  margin-top: 20px;
}

.span-color-root {
  color: red;
  font-size: 16px;
}

.span-color-n {
  color: #267acc;
}

.span-color-terminal-text {
  color: white;
}

@media screen and (max-width: 1000px) {
  body {
  }
  #section-about-us {
    margin-top: 210px;
    width: 100%;
    height: 900px;
    display: flex;
    background: url("../assets/images/banner/Wallpaper.png");
    flex-direction: column;
    justify-content: center;
  }
  .presentation {
    display: flex;
    color: #4a4a4a;
    font-size: 3.5em;
    text-align: center;
    align-items: center;
  }

  .skills-list {
    overflow: hidden;
    height: 95px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .skills-list i {
    display: block;
    color: var(--color-hack);
    animation: Text-up 10s 1s infinite;
  }
  .box-person {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img-home {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 800px) {
  .presentation {
    display: flex;
    color: #4a4a4a;
    font-size: 2.8em;
    text-align: center;
    align-items: center;
  }

  .skills-list {
    overflow: hidden;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .skills-list i {
    display: block;
    color: var(--color-hack);
    animation: Text-up 10s 1s infinite;
  }
  .box-person {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img-home {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 500px) {
  .presentation {
    display: flex;
    color: #4a4a4a;
    font-size: 2.5em;
    text-align: center;
    align-items: center;
    margin-left: 100px;
  }

  .skills-list {
    overflow: hidden;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
  }
  .section-body-text {
    box-shadow: 2px 2px 2px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 0px var(--color-hack), -20px -20px 0px #f9f9f9;
    animation: scale-Y 1s ease-in 1;
  }
  .section-body-text:hover {
    box-shadow: 2px 2px 2px black;
    margin-left: 50px;
    margin-right: 50px;

    box-shadow: 20px 20px 0px black, -20px -20px 0px var(--color-hack);
    margin-bottom: 50px;
    animation: scale-Y 1s ease-in 1;
  }

  .img-home {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    border: 1px solid black;
  }
  #section-about-us {
    margin-top: 210px;
    width: 100%;
    height: 900px;
    background: #232a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  * {
    margin: 0;
  }
  #section-home {
    font-size: 0.7em;
  }
  .presentation {
    text-align: center;
    margin-left: 50px;
  }
  .skills-list {
    font-weight: bold;
    height: 44px;
  }
  #section-body {
    height: 600px;
    width: 100%;
  }
  .section-body-text {
    box-shadow: 2px 2px 2px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 0px var(--color-hack), -20px -20px 0px #f9f9f9;
    animation: scale-Y 1s ease-in 1;
  }
  .section-body-text:hover {
    box-shadow: 2px 2px 2px black;
    margin-left: 50px;
    margin-right: 50px;

    box-shadow: 20px 20px 0px black, -20px -20px 0px var(--color-hack);
    margin-bottom: 50px;
    animation: scale-Y 1s ease-in 1;
  }
  #section-about-us {
    margin-top: 210px;
    width: 100%;
    height: 900px;
    background: #232a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .box-person {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img-home {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    border: 1px solid black;
  }
  #section-body {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .span-color-root {
    color: red;
  }

  .n {
    color: #267acc;
  }
  .terminal {
    color: white;
  }
}

@media screen and (max-width: 300px) {
  * {
    margin: 0;
  }
  #section-home {
    font-size: 0.3em;
  }
  .presentation {
    text-align: center;
    margin-left: 50px;
    font-size: 15px;
  }
  .skills-list {
    font-weight: bold;
    height: 24px;
  }
  #section-body {
    height: 500px;
    width: 100%;
  }
  .section-body-text {
    box-shadow: 2px 2px 2px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 0px var(--color-hack), -20px -20px 0px #f9f9f9;
    animation: scale-Y 1s ease-in 1;
  }
  .section-body-text:hover {
    box-shadow: 2px 2px 2px black;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 0px black, -20px -20px 0px var(--color-hack);
    margin-bottom: 50px;
    animation: scale-Y 1s ease-in 1;
  }
  #section-about-us {
    margin-top: 210px;
    width: 100%;
    height: 900px;
    background: #232a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .box-person {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img-home {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    border: 1px solid black;
  }

  #section-body {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .n {
    color: #267acc;
  }
  .terminal {
    color: white;
  }
}
