:root{

}

*{
  margin: 0;
  padding:0;
}

html{
scroll-behavior:smooth;
}

body{
 background-color: #747a81;
}

/*Cambiando tipografias  */
h1,
h2,
h3,
h4,
p{
  font-family: quattrocento sans,sans-serif;
  color: #fff;
}
.nav-menu .menu
{
  background: url(fondo.gif);
  padding: 1.5rem;
  color: #fff;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav-menu .menu  li
{
  list-style-type:none;
  position: relative;
  z-index: 1; 
}
.nav-menu .menu  li a
{
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 42px;
  font-weight: 500;
  padding: 27px 0;
  position: relative;  
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

.nav-menu .menu  span {
  position:  unset;
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #7abdb7;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 7px;
}
.continer .top-social a:hover {
	background: #58D68D;
	border-color: #58D68D;
}

.nav-menu{
  width: 100%;
  position: fixed ;
  top: 0;
}
#ulnav{
text-align:center;
}
.linav{
display: inline;
margin: 0rem 0.5rem  1rem 1rem ;
}

/*Agregando Color al footer y tamaño  */
footer{
 color: #212529;
  padding:1.5rem;
  width: 100%;
  height: auto;
  position: fixed 0;
  bottom: 0;
  box-shadow:  0px 0px 1rem 0.5px rgba(0, 0, 0, 5);

}
/*Ubicando los items en el centro  */
.footer-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/*Modificando tamaño del h3  */
.footer-content h3{
  padding: 2rem;
  font-size: 2rem;
  font-weight: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  
}
/*Agregando margenes al parrafo y modficando tamaño  */
.footer-content p{
    max-width: 40rem;
    line-height: 1.5rem;
    font-size: 1rem;
}
/*Generando tamaño al f-bootom     */
.footer-bootom{
  font-size: 0.8rem;
  word-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
}
/*Modificando el span    */
.footer-bootom span{
  text-transform: uppercase;
  opacity: .5;
  background-color: #212529;
}
/*Aliniando los iconos de las redes sociales  */
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
/*Modificando color de los iconos  */
.socials a{
  color: #fff;
  margin: 1rem;
}
/*Determiando margenes de los iconos  */
.socials a i{
  font-size: 1.5rem;
  transition: color .4s ease;
}

/*Agregando color de transicion con el mouse  */
.socials a:hover i{
  color: rgba(159, 239, 0, 0.9);
}

/*Movile */
@media all and (min-width: 960px){
 
}
html, body {
height: 100%;
font-family: "Cabin", sans-serif;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
}