:root{

}

*{
  margin: 0;
  padding:0;
}

html{
scroll-behavior:smooth;
}

body{
 background-color: #1d2024;
}

/*Cambiando tipografias  */
h1,
h2,
h3,
h4,
p{
  color: #fff;
}

nav{
  background-color: #111927;
  padding: 1.1rem;
  color: #fff;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.nav{
  width: 100%;
  position: fixed ;
  top: 0;
}
#ulnav{
text-align:center;
}
.linav{
display: inline;
margin: 0rem 0.5rem  1rem 1rem ;
}

main{

}



footer{
  background-color: #111927;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  position: fixed 0;
  bottom: 0;
  box-shadow:  0px 0px 1rem 0.5px rgba(0, 0, 0, 5);

}
.footer-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-content h3{
  padding: 2rem;
  font-size: 2rem;
  font-weight: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  
}
.footer-content p{
    max-width: 40rem;
    line-height: 1.5rem;
    font-size: 1rem;
}
.footer-bootom{
  font-size: 0.8rem;
  word-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
}
.footer-bootom span{
  text-transform: uppercase;
  opacity: .5;
  background-color: #212529;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.socials a{
  color: #fff;
  margin: 1rem;
}

.socials a i{
  font-size: 1.5rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: rgba(159, 239, 0, 0.9);
}

/*Movile */
@media all and (min-width: 960px){
  nav{

  }
}
