.nav-menu .menu
{
  background:url(fondo.gif);
  padding: 1.5rem;
  color: #fff;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav-menu .menu  li
{
  list-style: none;;
  position: relative;
  z-index: 1; 
}
.nav-menu .menu  li a
{
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 42px;
  font-weight: 500;
  padding: 27px 0;
  position: relative;  
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

.nav-menu .menu  span {
  position:  unset;
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #7abdb7;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 7px;
}
.span{
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #ffffff;
	border: 1px solid #7abdb7;
	border-radius: 50%;
}
.span a i
{
  font-size: 1.5rem;
  transition: color .4s ease;
  font-size: 20px;
  padding: 10px ;
  position: relative;  
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-menu{
  width: 100%;
  position: fixed ;
  top: 0;
}
#ulnav{
text-align:center;
}
.linav{
display: inline;
margin: 0rem 0.5rem  1rem 1rem ;
}