.experiencia{
  background-color: #1a2432;
  padding: 4rem;
  height: 40rem;
  position: static ;
}
.carousel-fade
{
  justify-items: right;
    position: static ;
}
.carousel-innerr
{
  justify-items: right;
    position: static ;
}
.carousel-item 
{
justify-items: center;
    position: absolute ;
}