#particles-js {
	height: 100vh; 
	width: 100%;
  position: fixed;
   z-index: -1;
}
.card-shared{
  background-color: #1a2432;
  padding:1.5rem;
  top: 0;
  height: 40rem;
  position: static ;

}
.wrapper{
  margin-top: 4%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  display: flex;
}
.card-contacto
{
 background-color: #ffffff;
  padding: 1px;
  height: 35rem;
  position: static ;
}
.card-body
{
background-color: rgb(255, 255, 255);
  width: 100%;
  justify-content: right;
  position: static;
}
.card-abel{
  background-color: #fff;
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  margin-top: 8%;
  display: flex;
  box-shadow: 0 0 0 3px rgba(159, 239, 0, 0.5),  -10px -10px 9px 10px rgba(0, 0, 0, 0.5);
}
.card-abel:hover{
  background-color: #fff;
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  margin-top: 8%;
  display: flex;
  box-shadow: 0 0 0 3px #9fef00,  -10px -10px 9px 10px rgba(0, 0, 0, 0.5);
}

.card-ana{
 background-color: #fff;
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  margin-top: 8%;
  display: flex;
  box-shadow: 0 0 0 3px rgba(159, 239, 0, 0.5),  -10px -10px 9px 10px rgba(0, 0, 0, 0.5);
}
.card-logo-abel{
  background-color: red;
  height: 100%;
  width: 170px;
  background-image: url(../Images/cards/Abel.jpeg);
background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-logo-ana{
  background-color: red;
  height: 100%;
  width: 170px;
  background-image: url(../Images/cards/Ana.jpeg);
background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.card-ana:hover{
  background-color: #fff;
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  margin-top: 8%;
  display: flex;
  box-shadow: 0 0 0 3px #9fef00,  -10px -10px 9px 10px rgba(0, 0, 0, 0.5);
}
.card-info {
  height: 10px;
  width: 100%;
  margin-left: 10rem;
  text-align: right;
  justify-content: right;
}
.card-info p{
  color: black;
}
.card-info h2{
  color: black;
}
.card-info-p{
  text-align: center;
}
